
body{
    background-color: #1574bb;
}
    h1{
        background-color: #fff;
        color: #1574bb;
        text-align: center;
        padding: 25px;
    }
   

ul  {
   justify-content: space-between;
  list-style-type: none;
   display: flex;
margin-top: 15%;
padding: 5%;

}
li a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    font-family:'teko'sans-serif;
    border-style: ridge;
 }


